In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('email_phishing_data.csv')

In [3]:
df.shape

(524846, 9)

In [7]:
columns = df.columns
for column in columns:
    print(f"{df[column].value_counts()}")
    print(f"Nulls : {df[column].isnull().sum()}\n")

24       6165
11       4081
31       3575
10       3512
5        3344
         ...
3948        1
3436        1
4975        1
2924        1
14589       1
Name: num_words, Length: 4278, dtype: int64
Nulls : 0

22      7262
34      4709
32      4561
10      4458
28      4409
        ...
4764       1
1463       1
3740       1
3135       1
1919       1
Name: num_unique_words, Length: 1892, dtype: int64
Nulls : 0

0        12493
7        12199
4        11949
2        11405
5        10914
         ...
2432         1
1409         1
10826        1
3789         1
1186         1
Name: num_stopwords, Length: 1885, dtype: int64
Nulls : 0

0      431424
1       47147
2       15115
3        6890
4        4397
        ...
539         1
176         1
178         1
181         1
824         1
Name: num_links, Length: 197, dtype: int64
Nulls : 0

0      431424
1       62638
2       14525
3        6421
4        3912
        ...
49          2
43          2
524         1
46          1
123         1
Name: num_unique_domains, Length: 82, dtype: int64
Nulls : 0

0      362902
1       56687
2       28930
3       20028
4       11658
        ...
376         1
386         1
287         1
571         1
534         1
Name: num_email_addresses, Length: 285, dtype: int64
Nulls : 0

0       51344
1       46002
2       37900
3       28815
4       27347
        ...
1129        1
1407        1
1470        1
619         1
926         1
Name: num_spelling_errors, Length: 1066, dtype: int64
Nulls : 0

0    421833
1     83229
2     15348
3      3194
4      1023
5       169
6        49
7         1
Name: num_urgent_keywords, dtype: int64
Nulls : 0

0    517897
1      6949
Name: label, dtype: int64
Nulls : 0

In [8]:
df

,num_words,num_unique_words,num_stopwords,num_links,num_unique_domains,num_email_addresses,num_spelling_errors,num_urgent_keywords,label
0,140,94,52,0,0,0,0,0,0
1,5,5,1,0,0,0,0,0,0
2,34,32,15,0,0,0,0,0,0
3,6,6,2,0,0,0,0,0,0
4,9,9,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
524841,782,327,301,2,2,2,52,1,0
524842,36,30,11,0,0,0,4,0,1
524843,61,46,11,0,0,0,3,0,0
524844,213,136,89,0,0,0,18,0,0
524845,26,24,3,0,0,0,2,0,0

In [11]:
df.dtypes

num_words              int64
num_unique_words       int64
num_stopwords          int64
num_links              int64
num_unique_domains     int64
num_email_addresses    int64
num_spelling_errors    int64
num_urgent_keywords    int64
label                  int64
dtype: object

In [9]:
df.columns

Index(['num_words', 'num_unique_words', 'num_stopwords', 'num_links',
       'num_unique_domains', 'num_email_addresses', 'num_spelling_errors',
       'num_urgent_keywords', 'label'],
      dtype='object')

In [20]:
X,y = df[['num_words', 'num_unique_words', 'num_stopwords', 'num_links',
       'num_unique_domains', 'num_email_addresses', 'num_spelling_errors',
       'num_urgent_keywords']],df[['label']]

In [29]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X,y)

In [30]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=.3,random_state=0)

In [31]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(class_weight='balanced')
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight='balanced')

In [32]:
y_pred = model.predict(X_test)

In [33]:
from sklearn.metrics import classification_report 
print(f"{classification_report(y_test,y_pred)}")

              precision    recall  f1-score   support

           0       0.98      0.95      0.97    155373
           1       0.96      0.98      0.97    155366

    accuracy                           0.97    310739
   macro avg       0.97      0.97      0.97    310739
weighted avg       0.97      0.97      0.97    310739