In [1]:
import pandas as pd
from array import array

In [25]:
df = pd.read_csv('car+evaluation/car.data')

In [27]:
df.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'label'], dtype='object')

In [26]:
df

     buying  maint  doors persons lug_boot safety  label
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [33]:
df.describe()

       buying maint doors persons lug_boot safety  label
count    1728  1728  1728    1728     1728   1728   1728
unique      4     4     4       3        3      3      4
top      high  high     2       2      big   high  unacc
freq      432   432   432     576      576    576   1210

In [34]:
df.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
label       object
dtype: object

In [35]:
target = df.drop(['label'],axis=1)

In [38]:
for column in target.columns:
    unique_values = target[column].unique()
    for value in unique_values:
        df[f'is_{column}_{value}'] = (target[column] == value)

In [28]:
columns = df.columns
for column in columns:
    print(f"column:{column};\n{df[column].value_counts()}")
    print(f"Nulls: {df[column].isnull().sum()}")
    print(f"NaN : {df[column].isna().sum()}\n")

column:buying;
high     432
low      432
vhigh    432
med      432
Name: buying, dtype: int64
Nulls: 0
NaN : 0

column:maint;
high     432
low      432
vhigh    432
med      432
Name: maint, dtype: int64
Nulls: 0
NaN : 0

column:doors;
2        432
5more    432
4        432
3        432
Name: doors, dtype: int64
Nulls: 0
NaN : 0

column:persons;
2       576
more    576
4       576
Name: persons, dtype: int64
Nulls: 0
NaN : 0

column:lug_boot;
big      576
med      576
small    576
Name: lug_boot, dtype: int64
Nulls: 0
NaN : 0

column:safety;
high    576
low     576
med     576
Name: safety, dtype: int64
Nulls: 0
NaN : 0

column:label;
unacc    1210
acc       384
good       69
vgood      65
Name: label, dtype: int64
Nulls: 0
NaN : 0

In [77]:
X = df.drop(['label'] + target.columns.tolist(),axis=1)

In [78]:
y = df['label']

In [88]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [91]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [92]:
from sklearn.metrics import classification_report 
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         acc       0.93      0.99      0.96       101
        good       0.75      0.75      0.75         8
       unacc       1.00      0.98      0.99       306
       vgood       0.94      0.94      0.94        17

    accuracy                           0.98       432
   macro avg       0.91      0.92      0.91       432
weighted avg       0.98      0.98      0.98       432